[submodule "release/scripts/addons"]
	path = release/scripts/addons
	url = https://github.com/Hoikas/blender-addons.git
	branch = blender2.7
[submodule "release/scripts/addons_contrib"]
	path = release/scripts/addons_contrib
	url = https://github.com/Hoikas/blender-addons-contrib.git
	branch = blender2.7
[submodule "release/datafiles/locale"]
	path = release/datafiles/locale
	url = https://github.com/Hoikas/blender-translations.git
	branch = blender2.7
[submodule "source/tools"]
	path = source/tools
	url = https://github.com/Hoikas/blender-dev-tools.git
	branch = blender-v2.79-release
